doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title In Search of the Holy Grail

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 In Search of the<br><br>Holy Grail

      section
        .mermaid.
          graph TD;
            web[http://example.com];
            html[HTML];
            web-->html;

    script(src='build/build.js')
